{% extends 'base.html' %}

{% block title %}Delete Employee{% endblock title %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container my-2">
            <div class="alert alert-danger" role="alert">
                Are you sure you want to delete "{{employee.emp_name}}"?
            </div>
            <p>
                <a href="{% url 'employees-list' %}"> Go Back </a>
            </p>
            <p>
                <input type="submit" class="btn btn-danger" value="Confirm">
            </p>
        </div>
    </form>
{% endblock %}